@using GoWebApplication.Db.Models
@model IEnumerable<User>

@{
    ViewData["Title"] = "Список Пользователей";
}

<h2>Список Пользователей</h2>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.UserName)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
            </tr>
        }
    </tbody>
</table>

@if (!Model.Any())
{
    <p class="text-warning">⚠️ В базе данных пока нет пользователей. Если вы видите эту надпись, но не видите ошибок, значит, **подключение к MySQL работает**!</p>
}